
<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td>
    <%= form_with model: [:admin, user, GiftCode.new] do |f| %>
      <%= f.number_field :amount %>
      <%= f.select :currency_code, [['USD', 'USD'], ['JPY', 'JPY']] %>
      <%= f.submit 'ギフトコード発行', class: 'btn btn-primary' %>
    <% end %>
  </td>
  <td>
    <% user.gift_codes.each do |code| %>
      <div>
        <%= code.amount %> <%= code.currency_code %>
        (<%= code.status %>)
      </div>
    <% end %>
  </td>
</tr>
